html, body {
  height: 100%;
}

p {
  margin: 0;
  padding: 0.5em 0;
}

@font-face {
  font-family: "PT Sans Pro Condensed"; /* Имя шрифта */
  src: url("../ttf/PT Sans Pro Condensed.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Sans Pro Caption"; /* Имя шрифта */
  font-weight: normal;
  font-style: normal;
  src: url("../ttf/PT Sans Pro Caption.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Serif Pro Book"; /* Имя шрифта */
  font-style: normal;
  font-weight: normal;
  src: url("../ttf/PT Serif Pro Book.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Serif Pro Book"; /* Имя шрифта */
  font-style: italic;
  font-weight: normal;
  src: url("../ttf/PT Serif Pro Book Italic.woff"); /* Путь к файлу со шрифтом */
}

/* Настройка ScrollMagic */
html.touch div#content-wrapper {
  min-width: 700px;
}

#content-wrapper {
  height: 100%;
  max-width: 2880px;
  min-width: 650px;
  min-height: 500px;
}

#content-wrapper section {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scrollContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 650px;
  width: 100%
}

.scrollContent {
  position: relative;
  /*height: 100%;*/
}

/* Блок навигации по слайдам */
#navigation-bar {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 20px;
}

#navigation-bar ul {
  display: none;
  list-style: none;
  font-size: 10px;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#navigation-bar ul li {
  display: inline-block;
  background-color: #353535;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border-width: 2px;
  border-color: #aaa;
  border-style: solid;
}

#navigation-bar ul li,
#navigation-bar ul li a,
#navigation-bar ul li.not-circle a:hover,
#navigation-bar ul li.not-circle:hover a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#navigation-bar ul li.active,
#navigation-bar ul li:hover {
  background-color: #eee;
  border-color: #353535;
}

#navigation-bar ul li.active,
#navigation-bar ul li.active a,
#navigation-bar ul li:hover,
#navigation-bar ul li:hover a {
  color: #000;
}

#navigation-bar ul li.not-circle {
  background-color: transparent;
  color: #353535;
  width: auto;
  height: 20px;
  line-height: 20px;
  border: none;
  text-shadow: 1px 1px 2px #000, 0 0 0.3em #353535;
  padding: 0 10px;
}
/* !Блок навигации по слайдам */

/* Контейнер с документами */
.docs-container {
  
}

.docs-container .imgs {
  width: 90%;
  margin-left: 5%;
  padding: 2.2em 0;
  text-align: center;
}

.docs-container .imgs img {
  display: inline-block;
  box-shadow: 0 0 2em #353535;
  margin-bottom: 2em;
}

.docs-container.no-shadow .imgs img {
  box-shadow: none !important;
}

.docs-container.far .imgs img {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.docs-container.closer .imgs img {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.docs-container.single .imgs img {
  max-width: 60%;
}

.docs-container.double .imgs img {
  max-width: 40%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.triple .imgs img {
  max-width: 25%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.four .imgs img {
  max-width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.six .imgs img {
  max-width: 11%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.seven .imgs img {
  max-width: 9%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container .desc {
  width: 70%;
  margin-left: 15%;
  padding: 0 0 3em 0;
  text-align: center;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}
/* !Контейнер с документами */

/* Lightbox */
#lightbox {
  font-weight: normal;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
}

.lb-caption a {
  color: #ccc;
}
/* !Lightbox */

/* Блок browser isn't supported */
.not-supported {
  display: none;
}

html.no-opacity .not-supported,
html.no-textshadow .not-supported,
html.no-boxshadow .not-supported,
html.no-backgroundsize .not-supported,
html.no-rgba .not-supported,
html.no-hashchange .not-supported {
  display: block !important;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2e639e;
  color: #fff;
}

html.no-opacity .not-supported a,
html.no-textshadow .not-supported a,
html.no-boxshadow .not-supported a,
html.no-backgroundsize .not-supported a,
html.no-rgba .not-supported a,
html.no-hashchange .not-supported a {
  font-weight: bolder;
  color: #fff;
}

html.no-opacity .not-supported h1,
html.no-textshadow .not-supported h1,
html.no-boxshadow .not-supported h1,
html.no-backgroundsize .not-supported h1,
html.no-rgba .not-supported h1,
html.no-hashchange .not-supported h1 {
  text-align: center;
  width: 100%;
}

html.no-opacity .not-supported .description,
html.no-textshadow .not-supported .description,
html.no-boxshadow .not-supported .description,
html.no-backgroundsize .not-supported .description,
html.no-rgba .not-supported .description,
html.no-hashchange .not-supported .description {
  margin-left: 25%;
  width: 50%;
}
/* !Блок browser isn't supported */


/* Загрузочный экран */
#loader-screen {
  position: absolute;
  position: fixed;
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  z-index: 9997;
  background-image: url("../img/yarregion.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

#loader-screen p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1em;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: italic;
  font-size: 2em;
}
/* !Загрузочный экран */

/* Заглавный экран */
#part0,
#part0_1 {
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

#part0 .name,
#part0 .description {
  margin: 0;
  padding: 0;
  position: absolute;
}

#part0 .name,
#part0 .description {
  font-weight: normal;
  font-family: "PT Sans Pro Condensed", sans-serif, Tahoma, Verdana;
}

#part0 .name {
  width: 96%;
  left: 4%;
  top: 7%;
  font-size: 4em;
}

#part0 .description {
  font-size: 0.4em;
  line-height: 1.5em;
}

#part0_1 {
  visibility: hidden;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part0_1,
#part0_1 div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#part0_1 div {
  background-color: rgba(255, 255, 255, 0.1);
}

#part0_1 p {
  margin: 0;
  padding: 0;
  width: 60%;
  margin-left: 20%;
}

#part0_1 p.quote {
  font-style: italic;
  font-size: 2em;
  line-height: 1.4em;
  padding-bottom: 1em;
  margin-top: 10%;
}

#part0_1 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}
/* !Заглавный экран */

/* Раздел 1.1 */
section#part1_1 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}

#part1_1_header {
  position: absolute;
  width: 70%;
  margin-left: 15%;
  padding-top: 20%;
  height: 100%;
  text-align: center;
  font-size: 4em;
  font-weight: normal;
  font-family: "PT Sans Pro Caption", sans-serif, Tahoma, Verdana;
}

#part1_1_content {
  padding-top: 5.5em;
  width: 60%;
  margin-left: 20%;
  height: 100%;
  font-size: 1.5em;
  font-weight: normal;
  font-family: "PT Serif Pro Book", sans-serif, Tahoma, Verdana;
}

#part1_1_container {
  height: 100%;
  width: 100%;
  background-image: url("../img/part1_1_bg_right.png");
  background-repeat: no-repeat;
  background-size: 12% auto;
  background-position: right center;
  padding-bottom: 5em;
}
/* !Раздел 1.1 */

/* Раздел 1.2 */
section#part1_2 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left top;
}
/* !Раздел 1.2 */

/* Раздел 1.3 */
section#part1_3 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.3 */

/* Раздел 1.4 */
section#part1_4 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left top;
}
/* !Раздел 1.4 */

/* Раздел 1.5 */
section#part1_5 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.5 */

/* Раздел 1.6 */
section#part1_6 {
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left top;
}

#part1_6_content,
#part1_6_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#part1_6_blur {
  color: #fff;
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

section#part1_6_1 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.6 */

/* Раздел 1.7 */
section#part1_7 {
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left top;
}

#part1_7_man_left {
  height: 100%;
  background-image: url("../img/part1_7_man_left.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

#part1_7_man_right {
  height: 100%;
  background-image: url("../img/part1_7_man_right.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#part1_7_content {
  position: absolute;
  top: 1em;
  width: 70%;
  left: 15%;
  font-size: 2em;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

section#part1_7_1 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.7 */

/* Раздел 1.8 */
section#part1_8 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.8 */

/* Раздел 1.9 */
section#part1_9 {
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left top;
}

#part1_9_content,
#part1_9_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#part1_9_blur {
  color: #151515;
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

section#part1_9_1 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.9 */

/* Раздел 1.10 */
section#part1_10 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.10 */

/* Раздел 1.11 */
section#part1_11 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}

#part1_11_content {
  padding-top: 5.5em;
  width: 60%;
  margin-left: 20%;
  height: 100%;
  font-size: 1.5em;
  font-weight: normal;
  font-family: "PT Serif Pro Book", sans-serif, Tahoma, Verdana;
}

#part1_11_container {
  height: 100%;
  width: 100%;
  background-image: url("../img/part1_11_bg_left.png");
  background-repeat: no-repeat;
  background-size: 10% auto;
  background-position: left center;
  padding-bottom: 5em;
}
/* !Раздел 1.11 */

/* Раздел 1.12 */
section#part1_12 {
  height: auto;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.12 */

/* Раздел 1.13 */
section#part1_13 {
  height: auto;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.13 */

/* Раздел 1.14 */
section#part1_14 {
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left top;
}

#part1_14_content,
#part1_14_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#part1_14_blur {
  color: #fff;
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

section#part1_14_1 {
  height: auto;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.14 */

/* Раздел 1.15 */
section#part1_15 {
  height: auto;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.15 */

/* Раздел 1.16 */
section#part1_16 {
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left top;
}

#part1_16_content,
#part1_16_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#part1_16_blur {
  color: #202020;
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
}

section#part1_16_1 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.16 */

/* Раздел 1.17 */
section#part1_17 {
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}

#part1_17_blur {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part1_17_1,
#part1_17_2 {
  position: absolute;
  width: 60%;
  left: 20%;
}

#part1_17_1 p.quote {
  font-size: 1.6em;
  line-height: 1.2em;
}

#part1_17_2 p.quote {
  font-size: 2em;
  line-height: 1.4em;
}

#part1_17 p.quote {
  font-style: italic;
  padding-bottom: 1em;
  margin-top: 10%;
}

#part1_17 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}
/* !Раздел 1.17 */

/* Раздел 1.18 */
section#part1_18 {
  height: auto;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.18 */

/* Раздел 1.19 */
section#part1_19 {
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}

#part1_19_blur {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part1_19_1 {
  position: absolute;
  width: 60%;
  left: 20%;
}

#part1_19_1 p.quote {
  font-size: 1.6em;
  line-height: 1.2em;
}

#part1_19 p.quote {
  font-style: italic;
  padding-bottom: 1em;
  margin-top: 10%;
}

#part1_19 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}
/* !Раздел 1.19 */

/* Раздел 1.20 */
section#part1_20 {
  height: auto;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.20 */

/* Раздел 1.21 */
section#part1_21 {
  height: auto;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.21 */

/* Раздел 1.22 */
section#part1_22 {
  height: auto;
  background-image: url("../img/diamond_upholstery.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 1.22 */

/* Раздел 2.1 */
section#part2_1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#part2_1_blur {
  height: 100%;
}

#part2_1 h1 {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 10%;
  margin: 0;
  padding: 0;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 3em;
}
/* !Раздел 2.1 */

/* Раздел 2.2 */
section#part2_2 {
  height: auto;
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}

#part2_2_content {
  padding-top: 5.5em;
  width: 60%;
  margin-left: 20%;
  height: 100%;
  font-size: 1.5em;
  font-weight: normal;
  font-family: "PT Serif Pro Book", sans-serif, Tahoma, Verdana;
}

#part2_2_container {
  height: 100%;
  width: 100%;
  background-image: url("../img/part2_2_bg_right.png");
  background-repeat: no-repeat;
  background-size: 8% auto;
  background-position: right center;
  padding-bottom: 5em;
}
/* !Раздел 2.2 */

/* Раздел 2.3 */
section#part2_3 {
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}

#part2_3_blur {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part2_3_1 {
  position: absolute;
  width: 60%;
  left: 20%;
}

#part2_3_1 p.quote {
  font-size: 1.6em;
  line-height: 1.2em;
}

#part2_3 p.quote {
  font-style: italic;
  padding-bottom: 1em;
  margin-top: 10%;
}

#part2_3 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}
/* !Раздел 2.3 */

/* Раздел 2.4 */
section#part2_4 {
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left top;
}

#part2_4_content,
#part2_4_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#part2_4_blur {
  color: #fff;
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part2_4_quote {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 10%;
  color: #000;
}

#part2_4_quote p.quote {
  font-size: 2em;
  line-height: 1.4em;
}

#part2_4 p.quote {
  font-style: italic;
  padding-bottom: 1em;
}

#part2_4 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}

section#part2_4_1 {
  height: auto;
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 2.4 */

/* Раздел 2.5 */
section#part2_5 {
  height: auto;
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 2.5 */

/* Раздел 2.6 */
section#part2_6 {
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left top;
}

#part2_6_content,
#part2_6_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#part2_6_blur {
  color: #fff;
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part2_6_quote {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 10%;
  color: #000;
}

#part2_6_quote p.quote {
  font-size: 1.8em;
  line-height: 1.2em;
}

#part2_6 p.quote {
  font-style: italic;
  padding-bottom: 1em;
}

#part2_6 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}

section#part2_6_1 {
  height: auto;
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 2.6 */

/* Раздел 2.7 */
section#part2_7 {
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left top;
}

#part2_7_content,
#part2_7_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#part2_7_blur {
  color: #fff;
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part2_7_quote {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 15%;
  color: #000;
}

#part2_7_quote p.quote {
  font-size: 2em;
  line-height: 1.4em;
}

#part2_7 p.quote {
  font-style: italic;
  padding-bottom: 1em;
}

#part2_7 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}

section#part2_7_1 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 2.7 */

/* Раздел 2.8 */
section#part2_8 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 2.8 */

/* Раздел 2.9 */
section#part2_9 {
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left top;
}

#part2_9_content,
#part2_9_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#part2_9_blur {
  color: #fff;
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part2_9_quote {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 10%;
  color: #fff;
}

#part2_9_quote p.quote {
  font-size: 1.6em;
  line-height: 1em;
}

#part2_9 p.quote {
  font-style: italic;
  padding-bottom: 1em;
}

#part2_9 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}

section#part2_9_1 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 2.9 */

/* Раздел 2.10 */
section#part2_10 {
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left top;
}

#part2_10_content,
#part2_10_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#part2_10_blur {
  color: #fff;
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part2_10_quote {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 10%;
  color: #000;
}

#part2_10_quote p.quote {
  font-size: 2em;
  line-height: 1.4em;
}

#part2_10 p.quote {
  font-style: italic;
  padding-bottom: 1em;
}

#part2_10 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}

section#part2_10_1 {
  height: auto;
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 2.10 */

/* Раздел 2.11 */
section#part2_11 {
  height: auto;
  background-image: url("../img/gridme.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 2.11 */

/* Раздел 3.1 */
section#part3_1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#part3_1_blur {
  height: 100%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
}

#part3_1 h1 {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 10%;
  margin: 0;
  padding: 0;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 3em;
}

#part3_1_1,
#part3_1_2,
#part3_1_3 {
  position: absolute;
  color: #000;
}

#part3_1_1 p.quote,
#part3_1_2 p.quote,
#part3_1_3 p.quote {
  font-style: italic;
  padding-bottom: 1em;
}

#part3_1_1 {
  width: 70%;
  left: 15%;
  top: 10%;
}

#part3_1_1 p.quote {
  font-size: 1.6em;
  line-height: 1em;
}

#part3_1_2 {
  width: 60%;
  left: 20%;
  top: 10%;
}

#part3_1_2 p.quote {
  font-size: 2.2em;
  line-height: 1.6em;
}

#part3_1_3 {
  width: 60%;
  left: 20%;
  top: 10%;
}

#part3_1_3 p.quote {
  font-size: 2.2em;
  line-height: 1.6em;
}

#part3_1 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}
/* !Раздел 3.1 */

/* Раздел 3.2 */
section#part3_2 {
  height: auto;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 3.2 */

/* Раздел 3.3 */
section#part3_3 {
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left top;
}

#part3_3_content,
#part3_3_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#part3_3_blur {
  color: #fff;
  width: 70%;
  margin-left: 15%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part3_3_quote {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 5%;
  color: #000;
}

#part3_3_quote p.quote {
  font-size: 1.8em;
  line-height: 1.2em;
}

#part3_3 p.quote {
  font-style: italic;
  padding-bottom: 1em;
}

#part3_3 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}
/* !Раздел 3.3 */

/* Раздел 3.4 */
section#part3_4 {
  height: auto;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 3.4 */

/* Раздел 3.5 */
section#part3_5 {
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
  height: auto;
  min-height: 100%;
}

#part3_5_blur {
  height: auto;
  min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part3_5_1,
#part3_5_2 {
  position: absolute;
  width: 60%;
  left: 20%;
}

#part3_5_1 p.quote {
  font-size: 2.4em;
  line-height: 1.8em;
}

#part3_5_2 p.quote {
  font-size: 1.8em;
  line-height: 1.2em;
}

#part3_5_3 {
  width: 60%;
  margin-left: 20%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

#part3_5 p.quote {
  font-style: italic;
  padding-bottom: 1em;
  margin-top: 10%;
}

#part3_5 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}
/* !Раздел 3.5 */

/* Раздел 3.6 */
section#part3_6 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
}

#part3_6_content {
  padding-top: 5.5em;
  width: 60%;
  margin-left: 20%;
  height: 100%;
  font-size: 1.5em;
  font-weight: normal;
  font-family: "PT Serif Pro Book", sans-serif, Tahoma, Verdana;
}

#part3_6_container {
  height: 100%;
  width: 100%;
  background-image: url("../img/part3_6_bg_left.png");
  background-repeat: no-repeat;
  background-size: 10% auto;
  background-position: left center;
}

#part3_6_subcontainer {
  height: 100%;
  width: 100%;
  background-image: url("../img/part3_6_bg_right.png");
  background-repeat: no-repeat;
  background-size: 7% auto;
  background-position: right top;
  padding-bottom: 5em;
}
/* !Раздел 3.6 */

/* Раздел 3.7 */
section#part3_7 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
}

#part3_7_container {
  height: 100%;
  width: 100%;
  background-image: url("../img/part3_7_bg_right.png");
  background-repeat: no-repeat;
  background-size: 10% auto;
  background-position: right center;
}

#part3_7_content {
  padding-top: 5.5em;
  width: 60%;
  margin-left: 20%;
  height: 100%;
  font-size: 1.5em;
  font-weight: normal;
  font-family: "PT Serif Pro Book", sans-serif, Tahoma, Verdana;
}
/* !Раздел 3.7 */

/* Раздел 3.8 */
section#part3_8 {
  height: auto;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 3.8 */

/* Раздел 3.9 */
section#part3_9 {
  height: auto;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 3.9 */

/* Раздел 3.10 */
section#part3_10 {
  height: auto;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 3.10 */

/* Раздел 3.11 */
section#part3_11 {
  height: auto;
  min-height: 100%;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
}

#part3_11 .header {
  padding-bottom: 1em;
  text-align: center;
  font-size: 1.4em;
  font-style: italic;
}

#part3_11_container {
  height: 100%;
  width: 100%;
  background-image: url("../img/part3_11_bg_right.png");
  background-repeat: no-repeat;
  background-size: 15% auto;
  background-position: right top;
}

#part3_11_content {
  padding-top: 5.5em;
  width: 60%;
  margin-left: 20%;
  height: 100%;
  font-size: 1.5em;
  font-weight: normal;
  font-family: "PT Serif Pro Book", sans-serif, Tahoma, Verdana;
}
/* !Раздел 3.11 */

/* Раздел 3.12 */
section#part3_12 {
  height: auto;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left bottom;
}
/* !Раздел 3.12 */

/* Раздел 3.13 */
section#part3_13 {
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left top;
}

#part3_13_content,
#part3_13_blur_container {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#part3_13_blur {
  color: #fff;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
}

#part3_13_quote {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 10%;
  color: #000;
}

#part3_13_quote p.quote {
  font-size: 1.6em;
  line-height: 1em;
}

#part3_13 p.quote {
  font-style: italic;
  padding-bottom: 1em;
}

#part3_13 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}
section#part3_13_1 {
  height: auto;
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left top;
}
/* !Раздел 3.13 */

/* Раздел 3.14 */
section#part3_14 {
  background-image: url("../img/nasty_fabric.png");
  background-repeat: repeat;
  background-position: left top;
}

#part3_14_content,
#part3_14_blur_container,
#part3_14_white_container {
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#part3_14_white_container {
  background-color: rgba(255, 255, 255, 0.15);
}

#part3_14_blur {
  color: #000;
  width: 70%;
  margin-left: 15%;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}
/* !Раздел 3.14 */

/* Для мобильных экранов */
@media screen and (max-width: 720px) {
  body {
    min-width: 720px;
  }

  #part0 {
    background-image: url("../img/part0_bg_max_720.jpg");
  }

  #part0_1 {
    background-image: url("../img/part0_1_bg_max_720.jpg");
  }

  #part1_6_content {
    background-image: url("../img/part1_6_content_bg_max_720.jpg");
  }

  #part1_6_blur_container {
    background-image: url("../img/part1_6_blur_container_bg_max_720.jpg");
  }

  #part1_9_content {
    background-image: url("../img/part1_9_content_bg_max_720.jpg");
  }

  #part1_9_blur_container {
    background-image: url("../img/part1_9_blur_container_bg_max_720.jpg");
  }

  #part1_14_content {
    background-image: url("../img/part1_14_content_bg_max_720.jpg");
  }

  #part1_14_blur_container {
    background-image: url("../img/part1_14_blur_container_bg_max_720.jpg");
  }

  #part1_16_content {
    background-image: url("../img/part1_16_content_bg_max_720.jpg");
  }

  #part1_16_blur_container {
    background-image: url("../img/part1_16_blur_container_bg_max_720.jpg");
  }

  #part1_17_blur {
    background-image: url("../img/part1_16_blur_container_bg_max_720.jpg");
  }

  #part1_19_blur {
    background-image: url("../img/part1_16_blur_container_bg_max_720.jpg");
  }

  #part2_1 {
    background-image: url("../img/part2_1_bg_max_720.jpg");
  }

  #part2_1_blur {
    background-image: url("../img/part2_1_blur_bg_max_720.jpg");
  }

  #part2_3 {
    background-image: url("../img/part2_3_bg_max_720.jpg");
  }

  #part2_3_blur {
    background-image: url("../img/part2_3_blur_bg_max_720.jpg");
  }

  #part2_4_content {
    background-image: url("../img/part2_3_bg_max_720.jpg");
  }

  #part2_4_blur_container {
    background-image: url("../img/part2_3_blur_bg_max_720.jpg");
  }

  #part2_6_content {
    background-image: url("../img/part2_6_bg_max_720.jpg");
  }

  #part2_6_blur_container {
    background-image: url("../img/part2_6_blur_bg_max_720.jpg");
  }

  #part2_7_content {
    background-image: url("../img/part2_7_bg_max_720.jpg");
  }

  #part2_7_blur_container {
    background-image: url("../img/part2_7_blur_bg_max_720.jpg");
  }

  #part2_9_content {
    background-image: url("../img/part2_9_bg_max_720.jpg");
  }

  #part2_9_blur_container {
    background-image: url("../img/part2_9_blur_bg_max_720.jpg");
  }

  #part2_10_content {
    background-image: url("../img/part2_10_bg_max_720.jpg");
  }

  #part2_10_blur_container {
    background-image: url("../img/part2_10_blur_bg_max_720.jpg");
  }

  #part3_1 {
    background-image: url("../img/part3_1_bg_max_720.jpg");
  }

  #part3_1_blur {
    background-image: url("../img/part3_1_blur_bg_max_720.jpg");
  }

  #part3_3_content {
    background-image: url("../img/part3_3_bg_max_720.jpg");
  }

  #part3_3_blur_container {
    background-image: url("../img/part3_3_blur_bg_max_720.jpg");
  }

  #part3_5_blur {
    background-image: url("../img/part3_3_blur_bg_max_720.jpg");
  }

  #part3_13_blur_container {
    background-image: url("../img/part3_3_blur_bg_max_720.jpg");
  }

  #part3_14_content {
    background-image: url("../img/part0_bg_max_720.jpg");
  }

  #part3_14_blur_container {
    background-image: url("../img/part0_1_bg_max_720.jpg");
  }
}
/* Для мобильных экранов */

/* Для экранов, бОльших чем 720 пикс в длину */
@media screen and (min-width: 721px) {
  body {
    min-width: 1150px;
  }

  #part0 {
    background-image: url("../img/part0_bg_min_721.jpg");
  }

  #part0_1 {
    background-image: url("../img/part0_1_bg_min_721.jpg");
  }

  #part1_6_content {
    background-image: url("../img/part1_6_content_bg_min_721.jpg");
  }

  #part1_6_blur_container {
    background-image: url("../img/part1_6_blur_container_bg_min_721.jpg");
  }

  #part1_9_content {
    background-image: url("../img/part1_9_content_bg_min_721.jpg");
  }

  #part1_9_blur_container {
    background-image: url("../img/part1_9_blur_container_bg_min_721.jpg");
  }

  #part1_14_content {
    background-image: url("../img/part1_14_content_bg_min_721.jpg");
  }

  #part1_14_blur_container {
    background-image: url("../img/part1_14_blur_container_bg_min_721.jpg");
  }

  #part1_16_content {
    background-image: url("../img/part1_16_content_bg_min_721.jpg");
  }

  #part1_16_blur_container {
    background-image: url("../img/part1_16_blur_container_bg_min_721.jpg");
  }

  #part1_17_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_721.jpg");
  }

  #part1_19_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_721.jpg");
  }

  #part2_1 {
    background-image: url("../img/part2_1_bg_min_721.jpg");
  }

  #part2_1_blur {
    background-image: url("../img/part2_1_blur_bg_min_721.jpg");
  }

  #part2_3 {
    background-image: url("../img/part2_3_bg_min_721.jpg");
  }

  #part2_3_blur {
    background-image: url("../img/part2_3_blur_bg_min_721.jpg");
  }

  #part2_4_content {
    background-image: url("../img/part2_3_bg_min_721.jpg");
  }

  #part2_4_blur_container {
    background-image: url("../img/part2_3_blur_bg_min_721.jpg");
  }

  #part2_6_content {
    background-image: url("../img/part2_6_bg_min_721.jpg");
  }

  #part2_6_blur_container {
    background-image: url("../img/part2_6_blur_bg_min_721.jpg");
  }

  #part2_7_content {
    background-image: url("../img/part2_7_bg_min_721.jpg");
  }

  #part2_7_blur_container {
    background-image: url("../img/part2_7_blur_bg_min_721.jpg");
  }

  #part2_9_content {
    background-image: url("../img/part2_9_bg_min_721.jpg");
  }

  #part2_9_blur_container {
    background-image: url("../img/part2_9_blur_bg_min_721.jpg");
  }

  #part2_10_content {
    background-image: url("../img/part2_10_bg_min_721.jpg");
  }

  #part2_10_blur_container {
    background-image: url("../img/part2_10_blur_bg_min_721.jpg");
  }

  #part3_1 {
    background-image: url("../img/part3_1_bg_min_721.jpg");
  }

  #part3_1_blur {
    background-image: url("../img/part3_1_blur_bg_min_721.jpg");
  }

  #part3_3_content {
    background-image: url("../img/part3_3_bg_min_721.jpg");
  }

  #part3_3_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_721.jpg");
  }

  #part3_5_blur {
    background-image: url("../img/part3_3_blur_bg_min_721.jpg");
  }

  #part3_13_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_721.jpg");
  }

  #part3_14_content {
    background-image: url("../img/part0_bg_min_721.jpg");
  }

  #part3_14_blur_container {
    background-image: url("../img/part0_1_bg_min_721.jpg");
  }
}
/* Для экранов, бОльших чем 720 пикс в длину */

/* Для экранов, бОльших чем 1280 пикс в длину */
@media screen and (min-width: 1281px) {
  #part0 {
    background-image: url("../img/part0_bg_min_1281.jpg");
  }

  #part0_1 {
    background-image: url("../img/part0_1_bg_min_1281.jpg");
  }

  #part1_6_content {
    background-image: url("../img/part1_6_content_bg_min_1281.jpg");
  }

  #part1_6_blur_container {
    background-image: url("../img/part1_6_blur_container_bg_min_1281.jpg");
  }


  #part1_9_content {
    background-image: url("../img/part1_9_content_bg_min_1281.jpg");
  }

  #part1_9_blur_container {
    background-image: url("../img/part1_9_blur_container_bg_min_1281.jpg");
  }

  #part1_14_content {
    background-image: url("../img/part1_14_content_bg_min_1281.jpg");
  }

  #part1_14_blur_container {
    background-image: url("../img/part1_14_blur_container_bg_min_1281.jpg");
  }

  #part1_16_content {
    background-image: url("../img/part1_16_content_bg_min_1281.jpg");
  }

  #part1_16_blur_container {
    background-image: url("../img/part1_16_blur_container_bg_min_1281.jpg");
  }

  #part1_17_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_1281.jpg");
  }

  #part1_19_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_1281.jpg");
  }

  #part2_1 {
    background-image: url("../img/part2_1_bg_min_1281.jpg");
  }

  #part2_1_blur {
    background-image: url("../img/part2_1_blur_bg_min_1281.jpg");
  }

  #part2_3 {
    background-image: url("../img/part2_3_bg_min_1281.jpg");
  }

  #part2_3_blur {
    background-image: url("../img/part2_3_blur_bg_min_1281.jpg");
  }

  #part2_4_content {
    background-image: url("../img/part2_3_bg_min_1281.jpg");
  }

  #part2_4_blur_container {
    background-image: url("../img/part2_3_blur_bg_min_1281.jpg");
  }

  #part2_6_content {
    background-image: url("../img/part2_6_bg_min_1281.jpg");
  }

  #part2_6_blur_container {
    background-image: url("../img/part2_6_blur_bg_min_1281.jpg");
  }

  #part2_7_content {
    background-image: url("../img/part2_7_bg_min_1281.jpg");
  }

  #part2_7_blur_container {
    background-image: url("../img/part2_7_blur_bg_min_1281.jpg");
  }

  #part2_9_content {
    background-image: url("../img/part2_9_bg_min_1281.jpg");
  }

  #part2_9_blur_container {
    background-image: url("../img/part2_9_blur_bg_min_1281.jpg");
  }

  #part2_10_content {
    background-image: url("../img/part2_10_bg_min_1281.jpg");
  }

  #part2_10_blur_container {
    background-image: url("../img/part2_10_blur_bg_min_1281.jpg");
  }

  #part3_1 {
    background-image: url("../img/part3_1_bg_min_1281.jpg");
  }

  #part3_1_blur {
    background-image: url("../img/part3_1_blur_bg_min_1281.jpg");
  }

  #part3_3_content {
    background-image: url("../img/part3_3_bg_min_1281.jpg");
  }

  #part3_3_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_1281.jpg");
  }

  #part3_5_blur {
    background-image: url("../img/part3_3_blur_bg_min_1281.jpg");
  }

  #part3_13_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_1281.jpg");
  }

  #part3_14_content {
    background-image: url("../img/part0_bg_min_1281.jpg");
  }

  #part3_14_blur_container {
    background-image: url("../img/part0_1_bg_min_1281.jpg");
  }
}
/* Для экранов, бОльших чем 1280 пикс в длину */

/* Для экранов, бОльших чем 1366 пикс в длину */
@media screen and (min-width: 1367px) {
  #part0 {
    background-image: url("../img/part0_bg_min_1367.jpg");
  }

  #part0_1 {
    background-image: url("../img/part0_1_bg_min_1367.jpg");
  }

  #part1_6_content {
    background-image: url("../img/part1_6_content_bg_min_1367.jpg");
  }

  #part1_6_blur_container {
    background-image: url("../img/part1_6_blur_container_bg_min_1367.jpg");
  }

  #part1_9_content {
    background-image: url("../img/part1_9_content_bg_min_1367.jpg");
  }

  #part1_9_blur_container {
    background-image: url("../img/part1_9_blur_container_bg_min_1367.jpg");
  }

  #part1_14_content {
    background-image: url("../img/part1_14_content_bg_min_1367.jpg");
  }

  #part1_14_blur_container {
    background-image: url("../img/part1_14_blur_container_bg_min_1367.jpg");
  }

  #part1_16_content {
    background-image: url("../img/part1_16_content_bg_min_1367.jpg");
  }

  #part1_16_blur_container {
    background-image: url("../img/part1_16_blur_container_bg_min_1367.jpg");
  }

  #part1_17_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_1367.jpg");
  }

  #part1_19_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_1367.jpg");
  }

  #part2_1 {
    background-image: url("../img/part2_1_bg_min_1367.jpg");
  }

  #part2_1_blur {
    background-image: url("../img/part2_1_blur_bg_min_1367.jpg");
  }

  #part2_3 {
    background-image: url("../img/part2_3_bg_min_1367.jpg");
  }

  #part2_3_blur {
    background-image: url("../img/part2_3_blur_bg_min_1367.jpg");
  }

  #part2_4_content {
    background-image: url("../img/part2_3_bg_min_1367.jpg");
  }

  #part2_4_blur_container {
    background-image: url("../img/part2_3_blur_bg_min_1367.jpg");
  }

  #part2_6_content {
    background-image: url("../img/part2_6_bg_min_1367.jpg");
  }

  #part2_6_blur_container {
    background-image: url("../img/part2_6_blur_bg_min_1367.jpg");
  }

  #part2_7_content {
    background-image: url("../img/part2_7_bg_min_1367.jpg");
  }

  #part2_7_blur_container {
    background-image: url("../img/part2_7_blur_bg_min_1367.jpg");
  }

  #part2_9_content {
    background-image: url("../img/part2_9_bg_min_1367.jpg");
  }

  #part2_9_blur_container {
    background-image: url("../img/part2_9_blur_bg_min_1367.jpg");
  }

  #part2_10_content {
    background-image: url("../img/part2_10_bg_min_1367.jpg");
  }

  #part2_10_blur_container {
    background-image: url("../img/part2_10_blur_bg_min_1367.jpg");
  }

  #part3_1 {
    background-image: url("../img/part3_1_bg_min_1367.jpg");
  }

  #part3_1_blur {
    background-image: url("../img/part3_1_blur_bg_min_1367.jpg");
  }

  #part3_3_content {
    background-image: url("../img/part3_3_bg_min_1367.jpg");
  }

  #part3_3_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_1367.jpg");
  }

  #part3_5_blur {
    background-image: url("../img/part3_3_blur_bg_min_1367.jpg");
  }

  #part3_13_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_1367.jpg");
  }

  #part3_14_content {
    background-image: url("../img/part0_bg_min_1367.jpg");
  }

  #part3_14_blur_container {
    background-image: url("../img/part0_1_bg_min_1367.jpg");
  }
}
/* Для экранов, бОльших чем 1366 пикс в длину */

/* Для экранов, бОльших чем 1440 пикс в длину */
@media screen and (min-width: 1441px) {
  #part0 {
    background-image: url("../img/part0_bg_min_1441.jpg");
  }

  #part0_1 {
    background-image: url("../img/part0_1_bg_min_1441.jpg");
  }

  #part1_6_content {
    background-image: url("../img/part1_6_content_bg_min_1441.jpg");
  }

  #part1_6_blur_container {
    background-image: url("../img/part1_6_blur_container_bg_min_1441.jpg");
  }


  #part1_9_content {
    background-image: url("../img/part1_9_content_bg_min_1441.jpg");
  }

  #part1_9_blur_container {
    background-image: url("../img/part1_9_blur_container_bg_min_1441.jpg");
  }

  #part1_14_content {
    background-image: url("../img/part1_14_content_bg_min_1441.jpg");
  }

  #part1_14_blur_container {
    background-image: url("../img/part1_14_blur_container_bg_min_1441.jpg");
  }

  #part1_16_content {
    background-image: url("../img/part1_16_content_bg_min_1441.jpg");
  }

  #part1_16_blur_container {
    background-image: url("../img/part1_16_blur_container_bg_min_1441.jpg");
  }

  #part1_17_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_1441.jpg");
  }

  #part1_19_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_1441.jpg");
  }

  #part2_1 {
    background-image: url("../img/part2_1_bg_min_1441.jpg");
  }

  #part2_1_blur {
    background-image: url("../img/part2_1_blur_bg_min_1441.jpg");
  }

  #part2_3 {
    background-image: url("../img/part2_3_bg_min_1441.jpg");
  }

  #part2_3_blur {
    background-image: url("../img/part2_3_blur_bg_min_1441.jpg");
  }

  #part2_4_content {
    background-image: url("../img/part2_3_bg_min_1441.jpg");
  }

  #part2_4_blur_container {
    background-image: url("../img/part2_3_blur_bg_min_1441.jpg");
  }

  #part2_6_content {
    background-image: url("../img/part2_6_bg_min_1441.jpg");
  }

  #part2_6_blur_container {
    background-image: url("../img/part2_6_blur_bg_min_1441.jpg");
  }

  #part2_7_content {
    background-image: url("../img/part2_7_bg_min_1441.jpg");
  }

  #part2_7_blur_container {
    background-image: url("../img/part2_7_blur_bg_min_1441.jpg");
  }

  #part2_9_content {
    background-image: url("../img/part2_9_bg_min_1441.jpg");
  }

  #part2_9_blur_container {
    background-image: url("../img/part2_9_blur_bg_min_1441.jpg");
  }

  #part2_10_content {
    background-image: url("../img/part2_10_bg_min_1441.jpg");
  }

  #part2_10_blur_container {
    background-image: url("../img/part2_10_blur_bg_min_1441.jpg");
  }

  #part3_1 {
    background-image: url("../img/part3_1_bg_min_1441.jpg");
  }

  #part3_1_blur {
    background-image: url("../img/part3_1_blur_bg_min_1441.jpg");
  }

  #part3_3_content {
    background-image: url("../img/part3_3_bg_min_1441.jpg");
  }

  #part3_3_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_1441.jpg");
  }

  #part3_5_blur {
    background-image: url("../img/part3_3_blur_bg_min_1441.jpg");
  }

  #part3_13_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_1441.jpg");
  }

  #part3_14_content {
    background-image: url("../img/part0_bg_min_1441.jpg");
  }

  #part3_14_blur_container {
    background-image: url("../img/part0_1_bg_min_1441.jpg");
  }
}
/* Для экранов, бОльших чем 1440 пикс в длину */

/* Для экранов, бОльших чем full hd */
@media screen and (min-width: 1921px) {
  #part0 {
    background-image: url("../img/part0_bg_min_1921.jpg");
  }

  #part0_1 {
    background-image: url("../img/part0_1_bg_min_1921.jpg");
  }

  #part1_6_content {
    background-image: url("../img/part1_6_content_bg_min_1921.jpg");
  }

  #part1_6_blur_container {
    background-image: url("../img/part1_6_blur_container_bg_min_1921.jpg");
  }


  #part1_9_content {
    background-image: url("../img/part1_9_content_bg_min_1921.jpg");
  }

  #part1_9_blur_container {
    background-image: url("../img/part1_9_blur_container_bg_min_1921.jpg");
  }

  #part1_14_content {
    background-image: url("../img/part1_14_content_bg_min_1921.jpg");
  }

  #part1_14_blur_container {
    background-image: url("../img/part1_14_blur_container_bg_min_1921.jpg");
  }

  #part1_16_content {
    background-image: url("../img/part1_16_content_bg_min_1921.jpg");
  }

  #part1_16_blur_container {
    background-image: url("../img/part1_16_blur_container_bg_min_1921.jpg");
  }

  #part1_17_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_1921.jpg");
  }

  #part1_19_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_1921.jpg");
  }

  #part2_1 {
    background-image: url("../img/part2_1_bg_min_1921.jpg");
  }

  #part2_1_blur {
    background-image: url("../img/part2_1_blur_bg_min_1921.jpg");
  }

  #part2_3 {
    background-image: url("../img/part2_3_bg_min_1921.jpg");
  }

  #part2_3_blur {
    background-image: url("../img/part2_3_blur_bg_min_1921.jpg");
  }

  #part2_4_content {
    background-image: url("../img/part2_3_bg_min_1921.jpg");
  }

  #part2_4_blur_container {
    background-image: url("../img/part2_3_blur_bg_min_1921.jpg");
  }

  #part2_6_content {
    background-image: url("../img/part2_6_bg_min_1921.jpg");
  }

  #part2_6_blur_container {
    background-image: url("../img/part2_6_blur_bg_min_1921.jpg");
  }

  #part2_7_content {
    background-image: url("../img/part2_7_bg_min_1921.jpg");
  }

  #part2_7_blur_container {
    background-image: url("../img/part2_7_blur_bg_min_1921.jpg");
  }

  #part2_9_content {
    background-image: url("../img/part2_9_bg_min_1921.jpg");
  }

  #part2_9_blur_container {
    background-image: url("../img/part2_9_blur_bg_min_1921.jpg");
  }

  #part2_10_content {
    background-image: url("../img/part2_10_bg_min_1921.jpg");
  }

  #part2_10_blur_container {
    background-image: url("../img/part2_10_blur_bg_min_1921.jpg");
  }

  #part3_1 {
    background-image: url("../img/part3_1_bg_min_1921.jpg");
  }

  #part3_1_blur {
    background-image: url("../img/part3_1_blur_bg_min_1921.jpg");
  }

  #part3_3_content {
    background-image: url("../img/part3_3_bg_min_1921.jpg");
  }

  #part3_3_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_1921.jpg");
  }

  #part3_5_blur {
    background-image: url("../img/part3_3_blur_bg_min_1921.jpg");
  }

  #part3_13_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_1921.jpg");
  }

  #part3_14_content {
    background-image: url("../img/part0_bg_min_1921.jpg");
  }

  #part3_14_blur_container {
    background-image: url("../img/part0_1_bg_min_1921.jpg");
  }
}
/* Для экранов, бОльших чем full hd */

/* Для экранов, бОльших чем macbook pro with retina display 13' */
@media screen and (min-width: 2561px) {
  #part0 {
    background-image: url("../img/part0_bg_min_2561.jpg");
  }

  #part0_1 {
    background-image: url("../img/part0_1_bg_min_2561.jpg");
  }

  #part1_6_content {
    background-image: url("../img/part1_6_content_bg_min_2561.jpg");
  }

  #part1_6_blur_container {
    background-image: url("../img/part1_6_blur_container_bg_min_2561.jpg");
  }

  #part1_9_content {
    background-image: url("../img/part1_9_content_bg_min_2561.jpg");
  }

  #part1_9_blur_container {
    background-image: url("../img/part1_9_blur_container_bg_min_2561.jpg");
  }

  #part1_14_content {
    background-image: url("../img/part1_14_content_bg_min_2561.jpg");
  }

  #part1_14_blur_container {
    background-image: url("../img/part1_14_blur_container_bg_min_2561.jpg");
  }

  #part1_16_content {
    background-image: url("../img/part1_16_content_bg_min_2561.jpg");
  }

  #part1_16_blur_container {
    background-image: url("../img/part1_16_blur_container_bg_min_2561.jpg");
  }

  #part1_17_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_2561.jpg");
  }

  #part1_19_blur {
    background-image: url("../img/part1_16_blur_container_bg_min_2561.jpg");
  }

  #part2_1 {
    background-image: url("../img/part2_1_bg_min_2561.jpg");
  }

  #part2_1_blur {
    background-image: url("../img/part2_1_blur_bg_min_2561.jpg");
  }

  #part2_3 {
    background-image: url("../img/part2_3_bg_min_2561.jpg");
  }

  #part2_3_blur {
    background-image: url("../img/part2_3_blur_bg_min_2561.jpg");
  }

  #part2_4_content {
    background-image: url("../img/part2_3_bg_min_2561.jpg");
  }

  #part2_4_blur_container {
    background-image: url("../img/part2_3_blur_bg_min_2561.jpg");
  }

  #part2_6_content {
    background-image: url("../img/part2_6_bg_min_2561.jpg");
  }

  #part2_6_blur_container {
    background-image: url("../img/part2_6_blur_bg_min_2561.jpg");
  }

  #part2_7_content {
    background-image: url("../img/part2_7_bg_min_2561.jpg");
  }

  #part2_7_blur_container {
    background-image: url("../img/part2_7_blur_bg_min_2561.jpg");
  }

  #part2_9_content {
    background-image: url("../img/part2_9_bg_min_2561.jpg");
  }

  #part2_9_blur_container {
    background-image: url("../img/part2_9_blur_bg_min_2561.jpg");
  }

  #part2_10_content {
    background-image: url("../img/part2_10_bg_min_2561.jpg");
  }

  #part2_10_blur_container {
    background-image: url("../img/part2_10_blur_bg_min_2561.jpg");
  }

  #part3_1 {
    background-image: url("../img/part3_1_bg_min_2561.jpg");
  }

  #part3_1_blur {
    background-image: url("../img/part3_1_blur_bg_min_2561.jpg");
  }

  #part3_3_content {
    background-image: url("../img/part3_3_bg_min_2561.jpg");
  }

  #part3_3_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_2561.jpg");
  }

  #part3_5_blur {
    background-image: url("../img/part3_3_blur_bg_min_2561.jpg");
  }

  #part3_13_blur_container {
    background-image: url("../img/part3_3_blur_bg_min_2561.jpg");
  }

  #part3_14_content {
    background-image: url("../img/part0_bg_min_2561.jpg");
  }

  #part3_14_blur_container {
    background-image: url("../img/part0_1_bg_min_2561.jpg");
  }
}
/* Для экранов, бОльших чем macbook pro with retina display 13' */
